# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
dist
build

# Environnement virtuel
venv/
ENV/
env/
env.bak/
*.venv

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
static/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environnement variables
.env
